<div>
    <h2 data-translate="webApp.aSuivre.home.title">A Suivres</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="a-suivre.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="webApp.aSuivre.home.createLabel">
                        Create new A Suivre
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="webApp.aSuivre.idAsuivre">Id Asuivre</span></th>
                    <th><span data-translate="webApp.aSuivre.tag">Tag</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="aSuivre in vm.aSuivres track by aSuivre.id">
                    <td><a ui-sref="a-suivre-detail({id:aSuivre.id})">{{aSuivre.id}}</a></td>
                    <td>{{aSuivre.idAsuivre}}</td>
                    <td>{{aSuivre.tag}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="a-suivre-detail({id:aSuivre.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="a-suivre.edit({id:aSuivre.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="a-suivre.delete({id:aSuivre.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
