
<div>
    <h2><span data-translate="webApp.aSuivre.detail.title">A Suivre</span> {{vm.aSuivre.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="webApp.aSuivre.idAsuivre">Id Asuivre</span></dt>
        <dd>
            <span>{{vm.aSuivre.idAsuivre}}</span>
        </dd>
        <dt><span data-translate="webApp.aSuivre.tag">Tag</span></dt>
        <dd>
            <span>{{vm.aSuivre.tag}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="a-suivre-detail.edit({id:vm.aSuivre.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
